<section class="home-banner">
    <nav-dir class="nav-dir"></nav-dir> 
    <div class="title-wrapper">
        <div class="tagline-wrapper">
            <h1>Easily create beautiful designs + documents</h1>
            <p>Use Canva's drag-and-drop feature and professional layouts to design consistently stunning graphics.</p>

            <div class="btn-banner">
                <a ui-sref="marketplace" title="Start Designing" class="start-designing"><button>Start Designing</button></a>

                <a href="https://www.canva.com/" title="Download" class="download"><button>Download</button></a>
            </div>
        </div>
    </div>
</section>


<parallax-mountains></parallax-mountains>
<footer-dir></footer-dir>



