<div class="parallax">
  <div class="parallax__layer parallax__layer__0">
    <img src="../images/trees parallax/parallaxTreesClouds.png"/>
  </div>

      <div class="parallax__layer parallax__layer__1">
        <img src="../images/trees parallax/parallaxTrees1.png"/>
      </div>
      <div class="parallax__layer parallax__layer__2">
        <img src="../images/trees parallax/parallaxTrees2.png"/>
      </div>
      <div class="parallax__layer parallax__layer__3">
        <img src="../images/trees parallax/parallaxTrees3.png"/>
      </div>
      <div class="parallax__layer parallax__layer__4">
        <img src="../images/trees parallax/parallaxTrees4.png"/>
      </div>
      <div class="parallax__layer parallax__layer__5">
        <img src="../images/trees parallax/parallaxTrees5.png"/>
      </div>
      <div class="parallax__layer parallax__layer__6">
        <img src="../images/trees parallax/parallaxTrees6.png"/>
      </div>

      <div class="parallax__cover">
        <div class="main-container">


            <div class="content-section content-section-1">
              <h2>Design Presentations, social media  graphics, <br>and more with thousands of beautiful  layouts.</h2>
              <img src="./images/about-page/editor.jpg">
              <div>
                <!--<img src="./images/Dave Logo/dave-logo-02.svg">-->

              </div>
            </div>


            <div class="content-section content-section-2">
              <h2>Design Presentations, social media  graphics, <br>and more with thousands of beautiful  layouts.</h2>
              <img src="./images/about-page/Carousel.png">

            </div>


            <div class="content-section content-section-3">
              <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/World_map_%28blue_dots%29.svg">
              <div>
              </div>

              <div>
                <div>
                  <h1>100M+</h1>
                  <h2>DESIGNS CREATED</h2>
                </div>
              
                <div>
                  <h1>10M+</h1>
                  <h2>USERS</h2>
                </div>

                <div>
                  <h1>1321</h1>
                  <h2>DAYS LAUNCHED</h2>
                </div>
              </div>
            
            </div>



        </div>
      </div>
        <h1 style="color: black">Babies</h1>
</div>