
.head-container{
    width: 100%;
    height: 35vh;
    background: linear-gradient(120deg,#00c4cc 25%,#6e4593 85%);
    display: flex;
    justify-content: center;
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h1{
            color: #fff;
            font-size: 48px;
            line-height: 1.16667em;
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: .5em;
            font-weight: 300;
        }
        p{
            color: #fff;
            font-size: 18.4px;
            line-height: 1.27273em;
            margin: 0 auto;
            max-width: 27.27273em;
            font-weight: 300;
        }
        button{
            margin-top: 1.71429em;
            padding: 15px 3.42857em;
        }
    }
}

.main-container-marketplace{
    position: relative;
    background: #EBECED;
    padding: 25px 35px;
    height: 100vh;
    .grid-row{
        width: 100%;
        height: 100%;
        max-width: 75em;
        padding-left: 16px;
        padding-right: 16px;
        margin: auto;
        position: relative;
        display:flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-wrap: wrap;
        .menu-container{
            position: absolute;
            top: 0;
            left: 0;
            width: 25%;
            border-radius: 5px;
            box-shadow: 0 2px 1px rgba(0,0,0,.08);

            .search-bar-container{
                background: #F2F2F2;
                padding: 10px;
                
                .search-bar{
                    border: 1px solid #d5d5d5;
                    background-size: 16px 16px;
                    background: #FFF url(https://static.canva.com/static/images/marketplace/svg-mixin/svg/search.svg) no-repeat calc(100% - 12px) 50%;
                    font-weight: 400;
                    padding: .71429em 2.57143em .71429em .85714em;
                    margin: 0;
                }

                
            }
            .menu-items-container{
                background: #FFF;
                list-style: none;
                width: 100%;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                padding: .75em 0.5em;

                .menu-item{
                    width: 100%;
                    font-size: 0.925em;
                    line-height: 1.85714em;
                    font-weight: 300;
                    margin: 0;
                    font-family: Open Sans,Helvetica NeueHelvetica,Arial,sans-serif;
                    // color: #292d35;
                    padding: 0em 0.875em;
                    border-radius: 5px;
                   
                }
                .menu-item:hover{
                    background-color: lightgray; 
                    transition: all 0.3s;
                }
            
            }
        }

        .item-card{
            position: relative;
            top: 0;
            left: 305px;
            width: 25%;
            // background: gray;
            border-radius: 5px;
            box-shadow: 0 2px 1px rgba(0,0,0,.08);
            margin-right: 25px;
            margin-bottom: 25px;
            background: white;
            
            .cardImage img{
                height: 100%;
                width: 100%;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                
            }
           
            .card-caption{
                border-top: .5px solid lightgray;
                padding: 0.75em;
                height: 60px;
                .cardTitle{
                    color: #636973;
                    font-size: .8125em;
                    font-weight: 600;
                }
                .cardTitle:hover{
                    color: #00c4cc;
                    font-size: .8125em;
                    font-weight: 600;
                }
                .cardCategory{
                    color: #979797;
                    font-size: .8125em;
                }
            }
        }
    }

}