.nav-contain{
    position: absolute;
    top:0px;
    
    .navDir {
        background: black;
        opacity: 0.3;
        width: 100vw;
        height: 75px;
    }
    .link-contain{
        width: 100vw;
        height: 75px;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .logo{
            margin-right: 30px;
          
          img{
              height: 75px;
          }
        }

        .nav-link{
        
            
        }

    }
}


