@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import 'variables';
@import 'home';
@import 'navDir';
@import 'plxMountain';

html{
    font-family: $mainFont;
    color: $font-color;
    font-size: 1em;
    font-weight: 300;
    
}

a{
    text-decoration: none;
    color: $font-color;
    font-weight: 400;
}
h1{
    font-size: 2em;
    line-height: 1.35em;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: .40em;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h2{
    font-size: 1.75em;
    line-height: 1.35em;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: .40em;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p{
    font-weight: 400;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 1.5em;
}

button{
    padding: .90em 1.25em;
    color: #000;
    font-weight: 400;
    border-color: #f2f2f2;
    background-color: #f2f2f2;
    border: none;
    border-radius: .35714em;
    margin: 5px;
}
