// FONTS
$mainFont: 'Open Sans', sans-serif;
$font-color: #FFF;
$font-size: 1em;
$font-weight: 400;


$tagline-size: 3.125em;
$subHead-size: 1.25em;
$buttonText-size: 0.875em;
$midSection-tagline-size: 2em;


//Buttons
